/* Badge ve Butonlar */
.badge { padding: 5px 12px; border-radius: 50px; font-size: 10px; font-weight: bold; }
.badge.beklemede { background: #d35400; color: white; }
.badge.tamamlandi { background: #27ae60; color: white; }

.btn-approve {
    background: #f1c40f;
    border: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.table-wrapper {
    background: var(--card);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #1e272e;
}

/* Kayan Duyuru Barı Tasarımı */
.top-announcement {
    background: linear-gradient(90deg, #b31217, #e52d27);
    color: white;
    height: 35px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
