const marketData = {
    vips: [
        { name: "VIP Üyelik", price: "40 TL" },
        { name: "VIP+ Üyelik", price: "55 TL" },
        { name: "LVIP Üyelik", price: "70 TL" },
        { name: "LVIP+ Üyelik", price: "100 TL" }
    ],
    kits: [
        { name: "Warden Kit", price: "20 TL" },
        { name: "Creeper Kit", price: "20 TL" },
        { name: "Piglin Kit", price: "20 TL" },
        { name: "Ghast Kit", price: "2 TL" }
    ],
    swords: [
        { name: "Özel Kılıç", price: "150 TL" },
        { name: "Warden Kılıç", price: "10 TL" },
        { name: "Shulker Kılıç", p: "5 TL" }
    ]
};

function openNav() { document.getElementById("mySidenav").style.width = "300px"; }
function closeNav() { document.getElementById("mySidenav").style.width = "0"; }

function changePage(pageId, category = null) {
    document.querySelectorAll('.page').forEach(p => p.classList.remove('active'));
    document.getElementById(pageId).classList.add('active');
    
    if (category) {
        loadMarket(category);
    }
    closeNav();
    window.scrollTo(0,0);
}

function loadMarket(cat) {
    const grid = document.getElementById("product-grid");
    document.getElementById("cat-label").innerText = cat.toUpperCase();
    grid.innerHTML = "";

    marketData[cat].forEach(item => {
        grid.innerHTML += `
            <div class="p-card">
                <div style="color:var(--primary); font-size:40px; margin-bottom:15px;"><i class="fas fa-shopping-cart"></i></div>
                <h3>${item.name}</h3>
                <h2 style="color:#00ff88; margin: 15px 0;">${item.price}</h2>
                <button class="btn-main" style="width:100%" onclick="openModal('${item.name}')">SATIN AL</button>
            </div>
        `;
    });
}

// Modal Fonksiyonları
function openModal(itemName) {
    document.getElementById("modal-item-name").innerText = "Seçilen Ürün: " + itemName;
    document.getElementById("buyModal").style.display = "block";
}

function closeModal() {
    document.getElementById("buyModal").style.display = "none";
}

function scrollToRegister() {
    document.getElementById("register").scrollIntoView({ behavior: 'smooth' });
}

// Başlangıçta Market Yükle
loadMarket('vips');
        
